WSReferences/IkarService_v2_1_pilot/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://api.vetrf.ru/schema/cdm/registry/ikar/service/v2"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="0"
		xmlns:xsd2="http://api.vetrf.ru/schema/cdm/base"
		xmlns:xsd3="http://api.vetrf.ru/schema/cdm/base/ws-definitions"
		xmlns:xsd4="http://api.vetrf.ru/schema/cdm/dictionary/v2"
		xmlns:xsd5="http://api.vetrf.ru/schema/cdm/registry/ws-definitions/v2"
		name="IkarService"
		targetNamespace="http://api.vetrf.ru/schema/cdm/registry/ikar/service/v2">
	<documentation>
        Service: IkarService
        Version: 2.0.4
    </documentation>
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
				xmlns:bdef="http://api.vetrf.ru/schema/cdm/base/ws-definitions"
				xmlns:rdef="http://api.vetrf.ru/schema/cdm/registry/ws-definitions/v2"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:tns="0"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				targetNamespace="0">
			<import namespace="http://api.vetrf.ru/schema/cdm/base/ws-definitions"
					schemaLocation="file://1.xsd"/>
			<default:import xmlns:default="http://www.w3.org/2001/XMLSchema"
					namespace="http://api.vetrf.ru/schema/cdm/registry/ws-definitions/v2"
					schemaLocation="file://3.xsd"/>
		</schema>
	</types>
	<message name="GetAllCountryList">
		<part name="request"
				element="xsd5:getAllCountryListRequest"/>
	</message>
	<message name="GetAllCountryListResponse">
		<part name="response"
				element="xsd5:getAllCountryListResponse"/>
	</message>
	<message name="GetCountryByGuid">
		<part name="request"
				element="xsd5:getCountryByGuidRequest"/>
	</message>
	<message name="GetCountryByGuidResponse">
		<part name="response"
				element="xsd5:getCountryByGuidResponse"/>
	</message>
	<message name="GetCountryByUuid">
		<part name="request"
				element="xsd5:getCountryByUuidRequest"/>
	</message>
	<message name="GetCountryByUuidResponse">
		<part name="response"
				element="xsd5:getCountryByUuidResponse"/>
	</message>
	<message name="GetCountryChangesList">
		<part name="request"
				element="xsd5:getCountryChangesListRequest"/>
	</message>
	<message name="GetCountryChangesListResponse">
		<part name="response"
				element="xsd5:getCountryChangesListResponse"/>
	</message>
	<message name="GetRegionListByCountry">
		<part name="request"
				element="xsd5:getRegionListByCountryRequest"/>
	</message>
	<message name="GetRegionListByCountryResponse">
		<part name="response"
				element="xsd5:getRegionListByCountryResponse"/>
	</message>
	<message name="GetRegionByGuid">
		<part name="request"
				element="xsd5:getRegionByGuidRequest"/>
	</message>
	<message name="GetRegionByGuidResponse">
		<part name="response"
				element="xsd5:getRegionByGuidResponse"/>
	</message>
	<message name="GetRegionByUuid">
		<part name="request"
				element="xsd5:getRegionByUuidRequest"/>
	</message>
	<message name="GetRegionByUuidResponse">
		<part name="response"
				element="xsd5:getRegionByUuidResponse"/>
	</message>
	<message name="GetRegionChangesList">
		<part name="request"
				element="xsd5:getRegionChangesListRequest"/>
	</message>
	<message name="GetRegionChangesListResponse">
		<part name="response"
				element="xsd5:getRegionChangesListResponse"/>
	</message>
	<message name="GetDistrictListByRegion">
		<part name="request"
				element="xsd5:getDistrictListByRegionRequest"/>
	</message>
	<message name="GetDistrictListByRegionResponse">
		<part name="response"
				element="xsd5:getDistrictListByRegionResponse"/>
	</message>
	<message name="GetDistrictByGuid">
		<part name="request"
				element="xsd5:getDistrictByGuidRequest"/>
	</message>
	<message name="GetDistrictByGuidResponse">
		<part name="response"
				element="xsd5:getDistrictByGuidResponse"/>
	</message>
	<message name="GetDistrictByUuid">
		<part name="request"
				element="xsd5:getDistrictByUuidRequest"/>
	</message>
	<message name="GetDistrictByUuidResponse">
		<part name="response"
				element="xsd5:getDistrictByUuidResponse"/>
	</message>
	<message name="GetDistrictChangesList">
		<part name="request"
				element="xsd5:getDistrictChangesListRequest"/>
	</message>
	<message name="GetDistrictChangesListResponse">
		<part name="response"
				element="xsd5:getDistrictChangesListResponse"/>
	</message>
	<message name="GetLocalityListByRegion">
		<part name="request"
				element="xsd5:getLocalityListByRegionRequest"/>
	</message>
	<message name="GetLocalityListByRegionResponse">
		<part name="response"
				element="xsd5:getLocalityListByRegionResponse"/>
	</message>
	<message name="GetLocalityListByDistrict">
		<part name="request"
				element="xsd5:getLocalityListByDistrictRequest"/>
	</message>
	<message name="GetLocalityListByDistrictResponse">
		<part name="response"
				element="xsd5:getLocalityListByDistrictResponse"/>
	</message>
	<message name="GetLocalityListByLocality">
		<part name="request"
				element="xsd5:getLocalityListByLocalityRequest"/>
	</message>
	<message name="GetLocalityListByLocalityResponse">
		<part name="response"
				element="xsd5:getLocalityListByLocalityResponse"/>
	</message>
	<message name="GetStreetListByLocality">
		<part name="request"
				element="xsd5:getStreetListByLocalityRequest"/>
	</message>
	<message name="GetStreetListByLocalityResponse">
		<part name="response"
				element="xsd5:getStreetListByLocalityResponse"/>
	</message>
	<message name="FindLocalityListByName">
		<part name="request"
				element="xsd5:findLocalityListByNameRequest"/>
	</message>
	<message name="FindLocalityListByNameResponse">
		<part name="response"
				element="xsd5:findLocalityListByNameResponse"/>
	</message>
	<message name="FindStreetListByName">
		<part name="request"
				element="xsd5:findStreetListByNameRequest"/>
	</message>
	<message name="FindStreetListByNameResponse">
		<part name="response"
				element="xsd5:findStreetListByNameResponse"/>
	</message>
	<message name="GetLocalityChangesList">
		<part name="request"
				element="xsd5:getLocalityChangesListRequest"/>
	</message>
	<message name="GetLocalityChangesListResponse">
		<part name="response"
				element="xsd5:getLocalityChangesListResponse"/>
	</message>
	<message name="GetStreetChangesList">
		<part name="request"
				element="xsd5:getStreetChangesListRequest"/>
	</message>
	<message name="GetStreetChangesListResponse">
		<part name="response"
				element="xsd5:getStreetChangesListResponse"/>
	</message>
	<message name="EntityNotFoundFault">
		<documentation>
            Запись с указанным идентификатором не найдена.
        </documentation>
		<part name="fault"
				element="xsd3:entityNotFoundFault"/>
	</message>
	<message name="IncorrectRequestFault">
		<documentation>
            Реакция системы на некорректный запрос.
        </documentation>
		<part name="fault"
				element="xsd3:incorrectRequestFault"/>
	</message>
	<message name="InternalServiceFault">
		<documentation>
            Внутренняя ошибка выполнения операции на сервере.
        </documentation>
		<part name="fault"
				element="xsd3:internalServiceFault"/>
	</message>
	<message name="OffsetOutOfRangeFault">
		<documentation> </documentation>
		<part name="fault"
				element="xsd3:offsetOutOfRangeFault"/>
	</message>
	<portType name="IkarServicePortType">
		<operation name="GetAllCountryList">
			<documentation>Получение списка записей стран с активным
                статусом.
                Выполнение операции заканчивается либо возвратом списка стран,
                либо ошибкой, в случае если параметры запроса не корректны или произошла
                иная ошибка выполнения запроса.
            </documentation>
			<input name="allCountryList"
					message="tns:GetAllCountryList">
				<documentation>Запрос списка с возможно указанными параметрами
                    (размер и отступ).
                </documentation>
			</input>
			<output name="allCountryListResponse"
					message="tns:GetAllCountryListResponse">
				<documentation>Ответ на запрос содержащий список стран.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.
                </documentation>
			</fault>
		</operation>
		<operation name="GetCountryByGuid">
			<documentation>Получение последней записи страны по
                глобальному идентификатору.
                Выполнение операции заканчивается либо возвратом объекта страны,
                либо ошибкой, в случае если параметры запроса не корректны, если запись
                по запросу не найдена
                или произошла иная ошибка выполнения запроса.
            </documentation>
			<input name="countryByGuid"
					message="tns:GetCountryByGuid">
				<documentation>Запрос содержащий глобальный идентификатор.
                </documentation>
			</input>
			<output name="countryByGuidResponse"
					message="tns:GetCountryByGuidResponse">
				<documentation>Ответ на запрос, содержащий объект страны.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос. Скорее
                    всего отсутвует GUID или он указан в некорректном формате.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что страна с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
		</operation>
		<operation name="GetCountryByUuid">
			<documentation>Получение записи страны по идентификатору.
                Выполнение операции заканчивается либо возвратом объекта страны,
                либо ошибкой, в случае если параметры запроса не корректны, если запись
                по запросу не найдена
                или произошла иная ошибка выполнения запроса.
            </documentation>
			<input name="countryByUuid"
					message="tns:GetCountryByUuid">
				<documentation>Запрос содержащий идентификатор.
                </documentation>
			</input>
			<output name="countryByUuidResponse"
					message="tns:GetCountryByUuidResponse">
				<documentation>Ответ на запрос, содержащий объект страны.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос. Скорее
                    всего отсутвует GUID или он указан в некорректном формате.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что страна с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
		</operation>
		<operation name="GetCountryChangesList">
			<documentation>Получение истории изменений в списке стран.
                Выполнение операции заканчивается либо возвратом списка стран,
                либо ошибкой, в случае если параметры запроса не корректны или произошла
                иная ошибка выполнения запроса.
            </documentation>
			<input name="countryChangesList"
					message="tns:GetCountryChangesList">
				<documentation>Запрос на получение истории изменений, содержит
                    параметры запрашиваемого списка и дату с которой запрашиваются
                    изменения.
                </documentation>
			</input>
			<output name="countryChangesListResponse"
					message="tns:GetCountryChangesListResponse">
				<documentation>Ответ на запрос со списком записей стран
                    изменившихся с указанной даты.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.
                </documentation>
			</fault>
		</operation>
		<operation name="GetRegionListByCountry">
			<documentation>Получение списка записей регионов с активным
                статусом по стране.
                Выполнение операции заканчивается либо возвратом списка регионов,
                либо ошибкой, в случае если параметры запроса не корректны или произошла
                иная ошибка выполнения запроса.
            </documentation>
			<input name="regionListByCountry"
					message="tns:GetRegionListByCountry">
				<documentation>Запрос списка с возможно указанными параметрами
                    (размер и отступ), содержащий глобальный идентификатор страны.
                </documentation>
			</input>
			<output name="regionListByCountryResponse"
					message="tns:GetRegionListByCountryResponse">
				<documentation>Ответ на запрос содержащий список регионов.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что страна с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.
                </documentation>
			</fault>
		</operation>
		<operation name="GetRegionByGuid">
			<documentation>Получение последней записи региона по
                глобальному идентификатору.
                Выполнение операции заканчивается либо возвратом объекта региона,
                либо ошибкой, в случае если параметры запроса не корректны, если запись
                по запросу не найдена
                или произошла иная ошибка выполнения запроса.
            </documentation>
			<input name="regionByGuid"
					message="tns:GetRegionByGuid">
				<documentation>Запрос содержащий глобальный идентификатор.
                </documentation>
			</input>
			<output name="regionByGuidResponse"
					message="tns:GetRegionByGuidResponse">
				<documentation>Ответ на запрос, содержащий объект региона.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос. Скорее
                    всего отсутвует GUID или он указан в некорректном формате.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что страна с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
		</operation>
		<operation name="GetRegionByUuid">
			<documentation>Получение записи региона по идентификатору.
                Выполнение операции заканчивается либо возвратом объекта региона,
                либо ошибкой, в случае если параметры запроса не корректны, если запись
                по запросу не найдена
                или произошла иная ошибка выполнения запроса.
            </documentation>
			<input name="regionByUuid"
					message="tns:GetRegionByUuid">
				<documentation>Запрос содержащий идентификатор.
                </documentation>
			</input>
			<output name="regionByUuidResponse"
					message="tns:GetRegionByUuidResponse">
				<documentation>Ответ на запрос, содержащий объект региона.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос. Скорее
                    всего отсутвует GUID или он указан в некорректном формате.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что страна с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
		</operation>
		<operation name="GetRegionChangesList">
			<documentation>Получение истории изменений в списке регионов.
                Выполнение операции заканчивается либо возвратом списка регионов,
                либо ошибкой, в случае если параметры запроса не корректны или
                произошла иная ошибка выполнения запроса.
            </documentation>
			<input name="regionChangesList"
					message="tns:GetRegionChangesList">
				<documentation>Запрос на получение истории изменений, содержит
                    параметры запрашиваемого списка и дату с которой запрашиваются
                    изменения.
                </documentation>
			</input>
			<output name="regionChangesListResponse"
					message="tns:GetRegionChangesListResponse">
				<documentation>Ответ на запрос со списком записей регионов,
                    изменившихся с указанной даты.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.
                </documentation>
			</fault>
		</operation>
		<operation name="GetDistrictListByRegion">
			<documentation>Получение списка записей районов с активным
                статусом по региону.
                Выполнение операции заканчивается либо возвратом списка районов,
                либо ошибкой, в случае если параметры запроса не корректны или произошла
                иная ошибка выполнения запроса.
            </documentation>
			<input name="districtListByRegion"
					message="tns:GetDistrictListByRegion">
				<documentation>Запрос списка с возможно указанными параметрами
                    (размер и отступ), содержащий глобальный идентификатор региона.
                </documentation>
			</input>
			<output name="districtListByRegionResponse"
					message="tns:GetDistrictListByRegionResponse">
				<documentation>Ответ на запрос содержащий список районов.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что региона с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.
                </documentation>
			</fault>
		</operation>
		<operation name="GetDistrictByGuid">
			<documentation>Получение последней записи района по
                глобальному идентификатору.
                Выполнение операции заканчивается либо возвратом объекта района,
                либо ошибкой, в случае если параметры запроса не корректны, если запись
                по запросу не найдена
                или произошла иная ошибка выполнения запроса.
            </documentation>
			<input name="districtByGuid"
					message="tns:GetDistrictByGuid">
				<documentation>Запрос содержащий глобальный идентификатор.
                </documentation>
			</input>
			<output name="districtByGuidResponse"
					message="tns:GetDistrictByGuidResponse">
				<documentation>Ответ на запрос, содержащий объект района.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос. Скорее
                    всего отсутвует GUID или он указан в некорректном формате.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что страна с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
		</operation>
		<operation name="GetDistrictByUuid">
			<documentation>Получение последней записи района по
                идентификатору.
                Выполнение операции заканчивается либо возвратом объекта района,
                либо ошибкой, в случае если параметры запроса не корректны, если запись
                по запросу не найдена
                или произошла иная ошибка выполнения запроса.
            </documentation>
			<input name="districtByUuid"
					message="tns:GetDistrictByUuid">
				<documentation>Запрос содержащий глобальный идентификатор.
                </documentation>
			</input>
			<output name="districtByUuidResponse"
					message="tns:GetDistrictByUuidResponse">
				<documentation>Ответ на запрос, содержащий объект района.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос. Скорее
                    всего отсутвует UUID или он указан в некорректном формате.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что страна с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
		</operation>
		<operation name="GetDistrictChangesList">
			<documentation>Получение истории изменений в списке районов.
                Выполнение операции заканчивается либо возвратом списка районов,
                либо ошибкой, в случае если параметры запроса не корректны или
                произошла иная ошибка выполнения запроса.
            </documentation>
			<input name="districtChangesList"
					message="tns:GetDistrictChangesList">
				<documentation>Запрос на получение истории изменений, содержит
                    параметры запрашиваемого списка и дату с которой запрашиваются
                    изменения.
                </documentation>
			</input>
			<output name="districtChangesListResponse"
					message="tns:GetDistrictChangesListResponse">
				<documentation>Ответ на запрос со списком записей районов,
                    изменившихся с указанной даты.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.
                </documentation>
			</fault>
		</operation>
		<operation name="GetLocalityListByRegion">
			<documentation>Получение списка записей населенных пунктов с активным
                статусом по региону.
                Выполнение операции заканчивается либо возвратом списка населенных пунктов,
                либо ошибкой, в случае если параметры запроса не корректны или произошла
                иная ошибка выполнения запроса.
            </documentation>
			<input name="localityListByRegion"
					message="tns:GetLocalityListByRegion">
				<documentation>Запрос списка с возможно указанными параметрами
                    (размер и отступ), содержащий глобальный идентификатор региона.
                </documentation>
			</input>
			<output name="localityListByRegionResponse"
					message="tns:GetLocalityListByRegionResponse">
				<documentation>Ответ на запрос содержащий список населенных пунктов.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.</documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что регион с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.</documentation>
			</fault>
		</operation>
		<operation name="GetLocalityListByDistrict">
			<documentation>Получение списка записей населенных пунктов с активным
                статусом по району.
                Выполнение операции заканчивается либо возвратом списка населенных пунктов,
                либо ошибкой, в случае если параметры запроса не корректны или произошла
                иная ошибка выполнения запроса.
            </documentation>
			<input name="localityListByDistrict"
					message="tns:GetLocalityListByDistrict">
				<documentation>Запрос списка с возможно указанными параметрами
                    (размер и отступ), содержащий глобальный идентификатор района.
                </documentation>
			</input>
			<output name="localityListByDistrictResponse"
					message="tns:GetLocalityListByDistrictResponse">
				<documentation>Ответ на запрос содержащий список населенных пунктов.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.</documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что район с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.</documentation>
			</fault>
		</operation>
		<operation name="GetLocalityListByLocality">
			<documentation>Получение списка зависимых записей населенных пунктов с активным
                статусом по населенному пункту.
                Выполнение операции заканчивается либо возвратом списка населенных пунктов,
                либо ошибкой, в случае если параметры запроса не корректны или произошла
                иная ошибка выполнения запроса.
            </documentation>
			<input name="localityListByLocality"
					message="tns:GetLocalityListByLocality">
				<documentation>Запрос списка с возможно указанными параметрами
                    (размер и отступ), содержащий глобальный идентификатор населенного пункта.
                </documentation>
			</input>
			<output name="localityListByLocalityResponse"
					message="tns:GetLocalityListByLocalityResponse">
				<documentation>Ответ на запрос содержащий список населенных пунктов.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.</documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что населенный пункт с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.</documentation>
			</fault>
		</operation>
		<operation name="GetStreetListByLocality">
			<documentation>Получение списка записей улиц с активным
                статусом по региону.
                Выполнение операции заканчивается либо возвратом списка улиц,
                либо ошибкой, в случае если параметры запроса не корректны или произошла
                иная ошибка выполнения запроса.
            </documentation>
			<input name="streetListByLocality"
					message="tns:GetStreetListByLocality">
				<documentation>Запрос списка с возможно указанными параметрами
                    (размер и отступ), содержащий глобальный идентификатор населенного пункта.
                </documentation>
			</input>
			<output name="streetListByLocalityResponse"
					message="tns:GetStreetListByLocalityResponse">
				<documentation>Ответ на запрос содержащий список улиц.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.</documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что населенный пункт с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.</documentation>
			</fault>
		</operation>
		<operation name="FindLocalityListByName">
			<documentation>Получение списка записей населенных пунктов с активным
                статусом по шаблону и региону.
                Выполнение операции заканчивается либо возвратом списка населенных пунктов,
                либо ошибкой, в случае если параметры запроса не корректны или произошла
                иная ошибка выполнения запроса.
            </documentation>
			<input name="findLocalityListByName"
					message="tns:FindLocalityListByName">
				<documentation>Запрос списка с возможно указанными параметрами
                    (размер и отступ), содержащий глобальный идентификатор региона.
                </documentation>
			</input>
			<output name="findLocalityListByNameResponse"
					message="tns:FindLocalityListByNameResponse">
				<documentation>Ответ на запрос содержащий список населенных пунктов.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.</documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что регион с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.</documentation>
			</fault>
		</operation>
		<operation name="FindStreetListByName">
			<documentation>Получение списка записей улиц с активным
                статусом по шаблону и населенному пункту.
                Выполнение операции заканчивается либо возвратом списка улиц,
                либо ошибкой, в случае если параметры запроса не корректны или произошла
                иная ошибка выполнения запроса.
            </documentation>
			<input name="findStreetListByName"
					message="tns:FindStreetListByName">
				<documentation>Запрос списка с возможно указанными параметрами
                    (размер и отступ), содержащий глобальный идентификатор региона.
                </documentation>
			</input>
			<output name="findStreetListByNameResponse"
					message="tns:FindStreetListByNameResponse">
				<documentation>Ответ на запрос содержащий список населенных пунктов.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.</documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault">
				<documentation>Ошибка, свидетельствующая о том, что регион с
                    указанным глобальным идентификатором не найден.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.</documentation>
			</fault>
		</operation>
		<operation name="GetLocalityChangesList">
			<documentation>Получение истории изменений в списке населенных пунктов.
                Выполнение операции заканчивается либо возвратом списка населенных пунктов,
                либо ошибкой, в случае если параметры запроса не корректны или
                произошла иная ошибка выполнения запроса.
            </documentation>
			<input name="localityChangesList"
					message="tns:GetLocalityChangesList">
				<documentation>Запрос на получение истории изменений, содержит
                    параметры запрашиваемого списка и дату с которой запрашиваются
                    изменения.
                </documentation>
			</input>
			<output name="localityChangesListResponse"
					message="tns:GetLocalityChangesListResponse">
				<documentation>Ответ на запрос со списком записей населенных пунктов,
                    изменившихся с указанной даты.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.
                </documentation>
			</fault>
		</operation>
		<operation name="GetStreetChangesList">
			<documentation>Получение истории изменений в списке улиц.
                Выполнение операции заканчивается либо возвратом списка улиц,
                либо ошибкой, в случае если параметры запроса не корректны или
                произошла иная ошибка выполнения запроса.
            </documentation>
			<input name="streetChangesList"
					message="tns:GetStreetChangesList">
				<documentation>Запрос на получение истории изменений, содержит
                    параметры запрашиваемого списка и дату с которой запрашиваются
                    изменения.
                </documentation>
			</input>
			<output name="streetChangesListResponse"
					message="tns:GetStreetChangesListResponse">
				<documentation>Ответ на запрос со списком записей улиц,
                    изменившихся с указанной даты.
                </documentation>
			</output>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault">
				<documentation>Внутренняя ошибка выполнения операции на
                    сервере.
                </documentation>
			</fault>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault">
				<documentation>Реакция системы на некорректный запрос.
                </documentation>
			</fault>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault">
				<documentation>Отступ в параметрах запроса превышает число
                    записей удовлетворяющих условиям запроса.
                </documentation>
			</fault>
		</operation>
	</portType>
	<binding name="IkarServiceBinding"
			type="tns:IkarServicePortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetAllCountryList">
			<soapbind:operation style="document"
					soapAction="GetAllCountryList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetCountryByGuid">
			<soapbind:operation style="document"
					soapAction="GetCountryByGuid"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetCountryByUuid">
			<soapbind:operation style="document"
					soapAction="GetCountryByUuid"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetCountryChangesList">
			<soapbind:operation style="document"
					soapAction="GetCountryChangesList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetRegionListByCountry">
			<soapbind:operation style="document"
					soapAction="GetRegionListByCountry"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetRegionByGuid">
			<soapbind:operation style="document"
					soapAction="GetRegionByGuid"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetRegionByUuid">
			<soapbind:operation style="document"
					soapAction="GetRegionByUuid"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetRegionChangesList">
			<soapbind:operation style="document"
					soapAction="GetRegionChangesList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetDistrictListByRegion">
			<soapbind:operation style="document"
					soapAction="GetDistrictListByRegion"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetDistrictByGuid">
			<soapbind:operation style="document"
					soapAction="GetDistrictByGuid"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetDistrictByUuid">
			<soapbind:operation style="document"
					soapAction="GetDistrictByUuid"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetDistrictChangesList">
			<soapbind:operation style="document"
					soapAction="GetDistrictChangesList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetLocalityListByRegion">
			<soapbind:operation style="document"
					soapAction="GetLocalityListByRegion"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetLocalityListByDistrict">
			<soapbind:operation style="document"
					soapAction="GetLocalityListByDistrict"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetLocalityListByLocality">
			<soapbind:operation style="document"
					soapAction="GetLocalityListByLocality"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetStreetListByLocality">
			<soapbind:operation style="document"
					soapAction="GetStreetListByLocality"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="FindLocalityListByName">
			<soapbind:operation style="document"
					soapAction="FindLocalityListByName"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="FindStreetListByName">
			<soapbind:operation style="document"
					soapAction="FindStreetListByName"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetLocalityChangesList">
			<soapbind:operation style="document"
					soapAction="GetLocalityChangesList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetStreetChangesList">
			<soapbind:operation style="document"
					soapAction="GetStreetChangesList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="IkarServiceBindingQSService">
		<port name="IkarServiceBindingQSPort"
				binding="tns:IkarServiceBinding">
			<soapbind:address location="https://api2.vetrf.ru:8002/platform/services/2.1/IkarService"/>
		</port>
	</service>
</definitions>